@import "_basic";
@import "_mixin";

/* root画面 */
.root {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  &__inner {
    column-gap: 20px;
  }
  &__btn {
    background-color: #1b1c80;
    color: #fff;
    font-size: 1.4rem;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    padding: 0.5em 0;
    &:hover {
      opacity: 0.8;
    }
  }
}
