@import "_basic";
@import "_mixin";

/* root画面 */
.root {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  &__inner {
    column-gap: 20px;
  }
  &__btn {
    background-color: #1b1c80;
    color: #fff;
    font-size: 1.4rem;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    padding: 0.5em 0;
    &:hover {
      opacity: 0.8;
    }
  }
}

/* フラッシュメッセージ */
.flash-msg {
  background-color: #79a548;
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 0.5em 0;
}

/* フォーム */
.form {
  width: min(100%, 550px);
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 3px 3px 5px 0px rgba(232, 232, 232, 1);
  padding: 25px;
  &__item {
    margin-bottom: 15px;
    &.flex {
      justify-content: space-between;
      align-items: center;
    }
  }
  &__label {
    font-size: 1.2rem;
    color: #96908a;
    span {
      color: inherit;
      vertical-align: 2px;
    }
  }
  &__text-field,
  &__pass-field,
  &__email-field {
    @include set-border(1px, solid, #e6e6e6);
    width: 100%;
    font-size: 1.4rem;
    padding: 0.3em 0.5em;
  }
  &__select {
    font-size: 1.4rem;
    width: 50%;
    padding: 0.3em 0;
    @include set-border(1px, solid, #e6e6e6);
  }
  &__submit {
    background-color: #0083ba;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 140px;
    font-size: 1.4rem;
    padding: 0.3em 0;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &__err-msg {
    font-size: 1.2rem;
    li {
      color: #fb3b3b;
    }
  }
  &__link {
    font-size: 1.4rem;
    text-decoration: underline;
    width: fit-content;
  }
}

/* ヘッダー */
.header {
  background-color: #f8f8f8;
  height: 50px;
  &__inner {
    justify-content: flex-start;
    align-items: center;
    column-gap: 170px;
  }
  &__heading {
    font-size: 2rem;
    font-weight: normal;
  }
  &-nav {
    height: 50px;
    align-items: center;
    font-size: 1.4rem;
    &__item {
      padding: 0 2em;
      color: #8a8686;
      height: 100%;
      @include centering;
      &.current {
        background-color: #e7e7e7;
      }
      &.logout {
        position: relative;
        &::before {
          @include set-pseudo("../../public/img/ico_logout.webp", 18px, 20px);
          left: 0.5em;
        }
      }
      &.admin {
        font-weight: bold;
      }
    }
    &__link {
      color: #8a8686;
      &.logout {
        font-size: 1.4rem;
      }
    }
  }
}

/* 検索エリア */
.search {
  @include set-border(1px, solid, #eaeaea);
  border-radius: 10px;
  &__heading {
    background-color: #f5f5f5;
    font-size: 1.8rem;
    font-weight: normal;
    padding: 0.3em 0.5em;
    border-radius: 10px 10px 0 0;
  }
  &-form {
    padding: 15px 20px;
    align-items: center;
    column-gap: 20px;
    &__label {
      font-size: 1.2rem;
      font-weight: bold;
    }
    &__input,
    &__select,
    &__btn {
      @include set-border(1px, solid, #e8e8e8);
      font-size: 1.4rem;
      border-radius: 5px;
      padding: 0.3em 0;
    }
    &__input {
      width: 110px;
      &.text {
        width: 190px;
        padding: 0.1em 0.5em;
      }
    }
    &__btn {
      background-color: inherit;
      width: 100px;
      cursor: pointer;
      &-wrap {
        position: relative;
        display: inline-block;
        &::before {
          @include set-pseudo("../../public/img/ico_search.webp", 15px, 15px);
          left: 15px;
        }
      }
    }
  }
}

/* ページアッパー部分 */
.upper {
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  &-btns {
    font-size: 1.6rem;
    column-gap: 15px;
    &__btn {
      color: #fff;
      border-radius: 5px;
      padding: 0.3em 1.5em 0.3em 2em;
      position: relative;
      &.create {
        background-color: #1b1c80;
        &::before {
          @include set-pseudo("../../public/img/ico_create.webp", 21px, 21px);
          left: 0.5em;
          top: calc(50% - 22px / 2);
        }
      }
    }
  }
  &-numbers {
    font-size: 1.4rem;
    &__sum {
      font-weight: bold;
    }
    &__total {
      background-color: #747475;
      color: #fff;
      font-weight: bold;
      border-radius: 100vh;
      padding: 0 1em;
    }
  }
}

/* テーブル */
.table {
  margin-top: 20px;
  border-collapse: collapse;
  tr {
    &:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
  th {
    font-size: 1.6rem;
    color: #fff;
    background-color: #5859dc;
    text-align: left;
    padding: 0.2em 0.8em;
    @include set-border(1px, solid, #2e2f85);
  }
  td {
    @include set-border(1px, solid, #2e2f85);
    font-size: 1.6rem;
    padding: 0.2em 0.8em;
    word-break: break-all;
    .flex {
      column-gap: 15px;
    }
  }
  &__btn {
    color: #fff;
    border-radius: 5px;
    padding: 0.3em 1.5em 0.3em 2em;
    position: relative;
    font-size: 1.6rem;
    &.edit {
      background-color: #1b1c80;
      &::before {
        @include set-pseudo("../../public/img/ico_edit.webp", 21px, 21px);
        left: 0.5em;
        top: calc(50% - 22px / 2);
      }
    }
    &.delete {
      background-color: #d9534f;
      &::before {
        @include set-pseudo("../../public/img/ico_delete.webp", 21px, 21px);
        left: 0.5em;
        top: calc(50% - 22px / 2);
      }
    }
  }
}

/* ページネーション */
.pagination {
  margin-top: 15px;
  font-size: 1.6rem;
  li {
    @include set-border(1px, solid, #ebebeb);
    padding: 0.1em 0.5em;
    &.active {
      background-color: #1b1c80;
      span {
        color: #fff;
      }
    }
    a {
      color: #1b1c80;
    }
  }
}

/* モーダル */
.modaal {
  &-container {
    width: 70% !important;
    height: 70vh !important;
  }
  &-iframe {
    &__heading {
      font-size: 2rem;
      text-align: center;
      border-bottom: 1px solid #e3e4e7;
      padding-bottom: 0.5em;
    }
    &__txt {
      font-size: 1.6rem;
      margin-top: 30px;
    }
    &__form {
      margin-top: 50px;
      justify-content: center;
      column-gap: 25px;
    }
    &__btn {
      width: 130px;
      font-size: 1.4rem;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      padding: 0.5em 0;
      cursor: pointer;
      &.cancel {
        color: #7a7a7b;
        @include set-border(1px, solid, #bfbfbf);
        background-color: #fff;
      }
      &.update {
        background-color: #187ff5;
        color: #fff;
      }
    }
    &__link {
      width: 130px;
      font-size: 1.4rem;
      font-weight: bold;
      color: #187ff5;
      @include set-border(1px, solid, #187ff5);
      border-radius: 5px;
      padding: 0.5em 0;
      text-align: center;
      margin: 50px auto 0;
    }
  }
}

/* グラフ */
.chart {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &-wrap {
    width: 100%;
    height: 700px;
  }
}
